<%= link_to category_path(group.id), class:"category__link", id:"category#{group.id}"  do %>
  <li class="category__item">
    <div class="outer">
      <div class="image">
        <%= image_tag group.icon, alt: "image" %>
      </div>
      <div class="inner">
        <div class="top">
          <div>
            <h3 class="title"><%= group.name.capitalize %></h3>
            <span class="date"><%= group.created_at.strftime('%-d %h %Y') %></span>
          </div>
           <p class="amount">$<%= group.treaties.sum(:amount) %></p>
        </div>
      </div>
    </div>
  </li>
<%  end %>